<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<style type="text/css">
			body{
				bac
			}
		</style>
	</head>
	<body>
		<form method="POST" action="{% url 'add-item' %}">
			{% csrf_token %}
			<label id="label_barang" for="barang">Barang : </label>
				<input type="text" id="barang" class="abc" name="barang" 
				oninput="typingsomething()">
			<input type="submit" value="submit" id="tombol" />
		</form>
		<h1 id="tulisan1">Keranjang Belanja</h1>

		<table>
			<thead>
				<tr>
					<th>Nama</th>
					<th>Waktu</th>
				</tr>
			<tbody  id="list_belanja">
			{% for it in item %}
				<tr>
				<td class="item" id="{{ it.id }}_barang">{{ it.barang }}</td>
				<td class="item" id="{{ it.id }}_tanggal_belanja">
					{{ it.created_date}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</body>

	<script>
		function typingsomething(){
			console.log("tes");
		};
		$("#tulisan1").css({"font-style": "italic"});
		$("#list_belanja").css({"background-color": "yellow"});
		$("#tombol").click(function(){
			$("#list_belanja").css({"background-color": "blue"});
			alert("Value Submitted");
		});
	
	</script>
</html>